@model GrainMaster.Models.RegisterModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Create new account | Graindashboard UI Kit</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/public/img/favicon.ico">

    <!-- Template -->
    <link rel="stylesheet" href="~/public/graindashboard/css/graindashboard.css">
</head>

<body class="">

    <main class="main">

        <div class="content">

            <div class="container-fluid pb-5">

                <div class="row justify-content-md-center">
                    <div class="card-wrapper col-12 col-md-4 mt-5">
                        <div class="brand text-center mb-3">
                            <a href="/"><img src="~/public/img/logo.png"></a>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Create new account</h4>
                                @using (Html.BeginForm("Register","Register",FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        @Html.TextBoxFor(m => m.Name, new {@class = "form-control",id="txtName", required = "", autofocus = "" })
                                    </div>

                                    <div class="form-group">
                                        <label for="email">E-Mail Address</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type ="email", id = "txtemail", required = "" })
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="password">
                                                Password
                                            </label>
                                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", id = "txtPassword", required = "" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="password-confirm">
                                                Confirm Password
                                            </label>
                                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control",type= "password", id = "txtConPassword", required = "" })
                                        </div>
                                    </div>


                                    <div class="form-group no-margin">
                                        <input type="submit" value="Sign Up" class="btn btn-primary btn-block" onclick="Validation()" />
                                    </div>
                                    <div class="text-center mt-3 small">
                                        Already have an account? <a href="~/Login/Login">Sign In</a>
                                    </div>
                                 }
                            </div>
                        </div>
                        <footer class="footer mt-3">
                            <div class="container-fluid">
                                <div class="footer-content text-center small">
                                    <span class="text-muted">&copy; @DateTime.Now.Year Graindashboard. All Rights Reserved.</span>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>



            </div>

        </div>
    </main>


    <script src="~/public/graindashboard/js/graindashboard.js"></script>
    <script src="~/public/graindashboard/js/graindashboard.vendor.js"></script>
    <script type="text/javascript">

         $(function () {
            var msg = '@ViewData["success"]';
            if (msg != "")
            {
                alert("User Details Inserted Successfully");
                window.location.href = "@Url.Action("Login", "Login")";
             }
         });

        function Validation() {
            var pass = $("#txtPassword").val();
            var Conpass = $("#txtConPassword").val();
            if (pass.trim() != Conpass.trim()) {
                alert("Password not matching!!");
                return false;
            }
        }

    </script>

</body>
</html>
